parameters:
  level: 9
  checkGenericClassInNonGenericObjectType: false
  tmpDir: ./tests/tmp
  paths:
    - src
    - tests/phpunit/src
  ignoreErrors:
    -
      message: '#Call to an undefined method .*(children|addDefaultsIfNotSet|arrayPrototype)#'
      paths: 
        - src/ApplicationSchema.php
        - src/Config/BaseSchema.php
        - tests/phpunit/src/AppTestConfigSchema.php
